<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="container">

<h2>{{ text.feedback }}</h2>

<form action="/submit_feedback" method="POST">

<textarea name="comment"

placeholder="{% if session.get('lang') == 'te' %}మీ అభిప్రాయం...{% elif session.get('lang') == 'hi' %}अपनी प्रतिक्रिया लिखें...{% else %}Your comments...{% endif %}"

required></textarea>

<br><br>

<button type="submit">

{{ text.submit }}

</button>

</form>

</div>

</body>
</html>